@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 375px) {
  :root {
    font-size: 30%;
  }
}
@media (min-width: 800px) {
  :root {
    font-size: 65%;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 100%;
  }
}
html {
  background-color: #ebeef1;
  margin: 0;
  font-family: "BMJUA";
}
